<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Travels List</title>
</head>
<body class="bg-gray-100 font-sans leading-normal tracking-normal">
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-4xl font-bold text-center mb-8">Travels from {{ source }} to {{ destination }}</h1>
        <ul class="bg-white rounded-lg shadow-lg p-6">
            {% for travel in travel_details %}
                <li class="border-b border-gray-300 py-4">
                    <span class="text-lg font-semibold">{{ travel.name }}</span>
                    <span class="text-gray-600"> - {{ travel.number }}</span>
                    <button onclick="bookNow('{{ travel.name }}', '{{ travel.number }}')" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Book Now</button>
                </li>
            {% endfor %}
        </ul>
    </div>
    <script>
        function bookNow(travelName, travelNumber) {
            window.location.href = `/booking/ticket/?travelName=${travelName}&travelNumber=${travelNumber}`;
        }
        
    </script>
</body>
</html>
